<h1>Listing testing_data</h1>

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Result</th>
      <th>Date of test</th>
      <th>Browser</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testing_data.each do |testing_datum| %>
      <tr>
        <td><%= testing_datum.test_id %></td>
        <td><%= testing_datum.result_id %></td>
        <td><%= testing_datum.date_of_test %></td>
        <td><%= testing_datum.browser %></td>
        <td><%= testing_datum.details %></td>
        <td><%= link_to 'Show', testing_datum %></td>
        <td><%= link_to 'Edit', edit_testing_datum_path(testing_datum) %></td>
        <td><%= link_to 'Destroy', testing_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testing datum', new_testing_datum_path %>
