<h1>Listing test_data</h1>

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Result</th>
      <th>Date of test</th>
      <th>Browser</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_data.each do |test_datum| %>
      <tr>
        <td><%= test_datum.test_id %></td>
        <td><%= test_datum.result_id %></td>
        <td><%= test_datum.date_of_test %></td>
        <td><%= test_datum.browser %></td>
        <td><%= test_datum.details %></td>
        <td><%= link_to 'Show', test_datum %></td>
        <td><%= link_to 'Edit', edit_test_datum_path(test_datum) %></td>
        <td><%= link_to 'Destroy', test_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test datum', new_test_datum_path %>
