<%= form_for(@environment) do |f| %>
  <% if @environment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@environment.errors.count, "error") %> prohibited this environment from being saved:</h2>

      <ul>
      <% @environment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="centerbox">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder:"Name of your application" %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, placeholder:"please enter your application login url" %>
  </div>
  </div>
  <br>
  <br>
  <h3>LOGIN DETAILS</h3>
  <div id="loginbox">
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder:"username/email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password, placeholder:"password" %>
  </div>
  <div class="field">
    <%= f.label :login_field %>
    <%= f.text_field :login_field, placeholder:"Inspect your application username and enter the id of that field" %>
  </div>
  <div class="field">
    <%= f.label :password_field %>
    <%= f.text_field :password_field, placeholder:"Inspect your application password field and enter the id " %>
  </div>
  <div class="field">
    <%= f.label :action_button %>
    <%= f.text_field :action_button, placeholder:"Inspect your application login button field and look for name and enter it. " %>
  </div>
  <div class="field">
    <%= f.label :user_emails %>
    <%= f.text_area :user_emails, placeholder:"please enter email addresses to which you want to send emails after our jobs got finished " %>
  </div>
  <div class="field">
    <%= f.label :selenium_webtester_path %>
    <%= f.text_field :selenium_tester_url, placeholder:"Enter the path of your Selenium Webtester " %>
  </div>
  </div>
  <br>
  <div style="margin-top: 22%;margin-left: 45%;">
  <%= f.submit %>
  </div>
<% end %>


