<h3 style="text-align:center;">Test Cases for <%#= @test_suite.name %></h3>
<table id="sch-cases" style="width:100%">
	<thead>
		<tr>
			<th>Test Suite Name</th>
  			<th>Schedule Date</th>
  			<th>Completed Date</th>
  			<th>Status</th>
  			<th>Created Date</th>
  			<th>Updated Date</th>
  			<th>Dependency</th>
		</tr>
	</thead>
	<tbody>
	  <% @schedule_cases.each do |sc| %>
		<tr>
			<td><%= sc.test_suite_id %></td>
  			<td><%= sc.scheduled_date %></td>
  			<td><%= sc.completed_date %></td>
  			<td><%= sc.status %></td>
        <td><%= sc.created_at %></td>
  			<td><%= sc.updated_at %></td>
  			<td><%= sc.dependency %></td>
		</tr>
	  <% end %>
	</tbody> 
</table>

<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#sch-cases tr:nth-child(even) {
  background-color: #eee;
}
table#sch-cases tr:nth-child(odd) {
 background-color: #fff;
}
table#sch-cases th {
  background-color: black;
  color: white;
}
