<h1 style="text-align: center;">Reports for <%= @e %></h1>
<div class="modal fade" id="cases" title="My modal">
  <div class="modal-header">
    
  </div>
  <div class="modal-body">
  	<button aria-hidden="true" class="close" id="health-modal-close" type="button">×</button>
  	<div id="health-modal">
    
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<form action="/run_suites" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<table id="suite-table-dude" style="width:100%">
		<thead>
			<tr>
				<th>Schedule Id</th>
				<th>TestSuite Name</th>
				<th>Status</th>
				<th>Schedule Date</th>
				<th></th>
				
			</tr>
		</thead>

		<tbody>
		<% if @schedule.present? %>
		  <% @schedule.each do |s| %>
			<tr>
				<td><%= s.id %></td>
				<% hidden_field_tag 'id', '#{s.id}' %>
				<td><%= TestSuite.find(s.test_suite_id).name %></td>
				<td><%= s.status %></td>
				<td><%= s.scheduled_date%></td>
				<td class="button-cell"><%#= link_to "List all the reports", {controller: "test_suites", action: "schedule_cases", id: s.id }, "data-toggle" => "modal", "data-target" => "#cases", class: "btn btn-default btn-sm", remote: true %>
				<%= link_to "List All Reports",list_all_reports_path(id: s.id), target: :_blank %>
				</td>
			</tr>
		  <% end %>
		<% end %>
		</tbody>
	</table>
	
</form>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<script>
	$("#suite-table-dude").dataTable({
    "iDisplayLength": 50
    });
</script>

