
<div class="modal fade" id="cases" title="My modal">
  <div class="modal-header">
    
  </div>
  <div class="modal-body">
  	<button aria-hidden="true" class="close" id="health-modal-close" type="button">×</button>
  	<div id="health-modal">
    
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<h1 style="text-align:center;">Test Suites for <%= "#{@environment_name}" %></h1>
<%= link_to "Import Suite", "/import_suite", class: "btn btn-primary", id: "import" %>
	<%= link_to 'Download', export_results_path(format: :csv), class: "btn btn-primary"%>
<div id="test_suites">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<table id="suite-table-dude">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		  <% @test_suites.each do |ts| %>
			<tr>
				<td><%= ts.id %></td>
				<td><%= ts.name %></td>
				<td class="button-cell">
					<%#= link_to "Cases", {controller: "test_cases", action: "index", id: ts.id }, class: "btn btn-default btn-sm", id: "myBtn" %>
					<%= link_to "Cases", {controller: "test_suites", action: "test_cases", id: ts.id }, class: "btn btn-default btn-sm", target: :_blank%>
					<% if Scheduler.where(test_suite_id: ts.id).pluck(:status).include?('READY') %>

						<%= link_to "Scheduled", {controller: "test_suites", action: "tests_ran", id: ts.id }, class: "btn btn-default btn-sm", "data-toggle" => "modal", "data-target" => "#cases", remote: true %>
						<%= link_to "Unschedule", {controller: "test_suites", action: "unschedule", id: ts.id }, class: "btn btn-primary btn-sm btn-unschedule" %>
					<% else %>
						<%= link_to "Past Run Status", {controller: "test_suites", action: "tests_ran", id: ts.id }, class: "btn btn-default btn-sm", "data-toggle" => "modal", "data-target" => "#cases", remote: true %>
						<button class="btn btn-primary btn-sm btn-schedule-now" data-id="<%=ts.id%>" data-name="<%= ts.name %>">Schedule Now</button>						
					<% end %>
					<%= hidden_field_tag :id, ts.id  %>
					<%= link_to 'Destroy', {controller: "test_suites", action: "destroy", id: ts.id }, method: "delete", class: "btn btn-default btn-sm" %>
					<button class="btn btn-danger btn-sm btn-schedule-later" data-id="<%=ts.id%>" data-name="<%= ts.name %>">Periodic Schedule</button>
				</td>
			</tr>
		  <% end %>
		</tbody>
	</table>
</div>


<script>
	$(document).ready(function(){
		$("#suite-table-dude").dataTable();
		setupScheduleEvents();
	});
</script>
