<!DOCTYPE html>
<html>
<head>
  <title>RSI - Testing Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: 'all' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<%= render 'layouts/header'%>
	<% if user_signed_in? %>
		<%= render 'layouts/nav'%>
	<% end %>
	<%= yield %>
	<div class="push"></div>
	</div>
	<%= render 'layouts/footer'%>

</body>
</html>
